/* General body styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: 'Courier New', monospace;
    visibility: hidden; /* Prevent FOUC */
    color: #000;
    background-color: #fff;
}

body.loaded {
    visibility: visible; /* Make body visible after page load */
}

h2 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #d3d3d3;
    background-color: #b9b7b7;
    padding: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

footer .back-to-top {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #b1b1b1;
    color: #353434;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s;
}

footer .back-to-top:hover {
    background-color: #4d4b4b;
}

.resized-image {
    width: 300px;
    height: auto;
    max-width: 100%; /* Maintain aspect ratio and prevent overflow */
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.search-bar {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input,
.search-bar button,
.search-bar select {
    font-size: 1.2em;
}

#pogDetailsContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
    max-width: 600px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: medium;
}

#pogDetailsContent .modal-image {
    flex: 0 0 auto;
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    align-self: flex-end;
}

#pogDetailsContent .modal-text {
    flex: 1;
    overflow-y: auto;
    word-wrap: break-word;
    line-height: 1.5;
}

@media (max-aspect-ratio: 1/1) {
    #pogDetailsContent {
        flex-direction: column;
        align-items: center;
        font-size: x-large;
    }

    body {
        font-size: 30px;
    }

    #pogDetailsContent .modal-image {
        max-width: 250px;
        width: 100%;
        align-self: center;
    }

    footer .back-to-top {
        padding: 20px 40px;
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    #pogDetailsContent {
        flex-direction: column;
        align-items: center;
        width: 95%;
        max-width: none;
        max-height: 90vh;
        padding: 15px;
        font-size: xx-large;
    }

    #pogDetailsContent .modal-image {
        width: 100%;
        max-width: 400px;
        margin: 0 20px 15px;
        align-self: center;
        display: block;
    }

    #pogDetailsContent .modal-text {
        text-align: center;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.modal-content {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: black;
}

table {
    font-size: 1.2em;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #262a2e;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.guide {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.guide h3 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#color-guide .box {
    width: 40px;
    margin-bottom: 8px;
}

#tag-guide .box {
    width: 80px;
}

#color-guide .box,
#tag-guide .box {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
}

.item span {
    font-size: 14px;
    color: #949494;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .search-bar,
body.dark-mode h2 {
    background-color: #333;
    color: #7c7a7a;
}

body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
}

.guide.dark-mode {
    background-color: rgba(50, 50, 50, 0.8);
    border-color: #555;
}

.guide.dark-mode h3 {
    color: #bbb;
}

#color-guide.guide.dark-mode .box,
#tag-guide.guide.dark-mode .box {
    border: 1px solid #fff;
}

/* Light mode colors */
.guide.light-mode .box#trashBox { background-color: #fcdcdc; }
.guide.light-mode .box#commonBox { background-color: #ffedc1; }
.guide.light-mode .box#uncommonBox { background-color: #ebf8dc; }
.guide.light-mode .box#rareBox { background-color: #dcf2f8; }
.guide.light-mode .box#mythicBox { background-color: #e7d5f3; }
.guide.light-mode .box#unknownBox { background-color: #fff; }

/* Dark mode colors */
.guide.dark-mode .box#trashBox { background-color: #412020; }
.guide.dark-mode .box#commonBox { background-color: #4b3317; }
.guide.dark-mode .box#uncommonBox { background-color: #3d442f; }
.guide.dark-mode .box#rareBox { background-color: #2d3f4d; }
.guide.dark-mode .box#mythicBox { background-color: #0e0b22; }
.guide.dark-mode .box#unknownBox { background-color: #333; }